h1 {
    font-size: 8em;
    color: white
}

* {
    background-color: rgb(152, 141, 212);
}

input{
    background-color: white;
    float: 
}

button{
    background-color: white;
}
img {
    float: right
}